
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main_color: ghostwhite;
$bg_color_1: #555555;
$bg_color_2: #222222;
$temperature_color: coral;
$temperature_title_color: orangered;
$wind_color: deepskyblue;
$wind_title_color: dodgerblue;
$pressure_color: mediumseagreen;
$pressure_title_color: forestgreen;
$rh_color: #ff3333;
$rh_title_color: #ff9999;
$time_color: #0b39a2;
$time_title_color: #4580fe;
